<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Authorization Server</title>
    <style>
        body {
            padding: 1em;
        }

        .form-field {
            max-width: 280px;
            margin-bottom: 1em;
        }

        .hint {
            font-size: 0.8em;
            color: gray;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>