<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Authorization Server</title>
    <style>
        body {
            padding: 1em;
            text-align: center;
        }

        .form-field {
            display: flex;
            flex-direction: column;
            max-width: 290px;
            margin: 0 auto 1em auto;
            text-align: left;
        }

        .form-field label {
            padding-right: 10px;
            width: 100px;
        }

        .hint {
            font-size: 0.8em;
            color: gray;
            text-align: center;
        }
        .hint:before {
            content: '(';
        }
        .hint:after {
            content: ')';
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>